body {
    background-color: rgb(255, 167, 167);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.text {
    display: flex;
    justify-content: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: brown;
}

.btn {
    display: flex;
    justify-content:center;
    flex-direction: row;
    justify-content: space-evenly;
}


.yes {
    background-color: #00ff26;
    padding: 60px;

    font-weight:bold ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    display: flex;
    text-decoration: none;
    font-size: xx-large;
    margin: 10px;
    color: rgb(0, 0, 0);
}
.no {
    background-color: #ff0000;
    padding: 60px;

    font-weight:bold ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    display: flex;
    text-decoration: none;
    font-size: xx-large;
    margin: 10px;
    color: black;
}

img {
    width: 500px;
    height: 500px;
    overflow: hidden;

}
.img img{
    display: flex;
    margin: auto;
}
.audio {
    background-color: transparent;
    align-self: center;
}
